@font-face {
  font-family: 'arialRounded';
  src: url("../ArialRoundedBold.ttf");
}
body {
  background-color: #EDEFF0;
}
.library {
  background-color: #EDEFF0;
  margin: 0 auto;
  width: 1114px;
  height: 850px;
  font-family: sans-serif;
  position: relative;
}

.nav {
  height: 70px;
  margin: 10px 15px 10px 15px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}

.nav h2 {
  width: 80px;
  /*padding: 0;*/
  padding: 20px 0px 0px 0px;
  font-family: "arialRounded";
  color: #4B5658;
}

.nav img {
  position: absolute;
  top: 15px;
  right: 20px;
}

.courseContainer {
  background-color: white;
  width: 535px;
  height: 310px;
  float: left;
  border-radius: 4px;
  position: relative;
  margin: 20px 10px 0px 10px;
}

.colorHeader {
  width: 535px;
  height: 50px;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#green {
  background-color: #2C9676;
}

#pink {
  background-color: #F092B0;
}

#indigo {
  background-color: #838CC7;
}

ul {
  margin: 0;
  padding: 15px 5px 15px 15px;
}

li {
  float: left;
  list-style-type: none;
  padding: 0px 10px 0px 0px;
}

li:last-child {
  float: right;
  padding: 0px 10px 0px 0px;
}
h4, h2, .arialRounded {
  font-family: "arialRounded";
  margin: 0;
  padding: 0;
}
p, h4 {
  color: #819093;
  margin: 25px 0px 10px 0px;
  padding: 0;
}
.toolTip h4 {
  color: #4B5658;
}
h2 {
  color: #4B5658;
  margin: 10px 0px 10px 0px;
  padding: 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.content {
  margin: 0px 20px 0px 20px;
}

.toolTip {
  width: 240px;
  display: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 12px;
  border-radius: 5px;
}

.toolTip p {
  font-size: 15px;
  margin: 5px;
}

button {
  border-radius: 30px;
  border: 2px solid #d4d9dd;
  background-color: white;
  font-family: 'arialRounded';
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  position: absolute;
  bottom: 40px;
  float: left;
}

.levelButton {
  color: #4B5658;
  left: 90px;
}

#javaButton {
  color: #2C9676;
}

#djangoButton {
  color: #F092B0;
}

#wooButton {
  color: #838CC7;
}

.movieButton{
  position: absolute;
  bottom: 40px;
  right: 120px;
}

.starButton {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
/*#talkbubble {
  transform: rotate(-90deg);
  margin: 0 auto;
   width: 100px;
   height: 240px;
   position: relative;
   -moz-border-radius:    5px;
   -webkit-border-radius: 5px;
   border-radius:         5px;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 107px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 20px solid red;
   border-bottom: 13px solid transparent;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}*/
